# Virtual Environments
venv/
env/
.env

# Python Cache & Tests
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases
*.db*
*.sqlite*

# Node / Frontend
node_modules/
.next/
dist/
build/

# Logs and Outputs
*.log
test_output*.json
.DS_Store
uploads/
.vscode/
